<% for(var i=0; i < users.length; i++) { %>
<tr>
    <td><%= i+1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].cpf %></td>
    <td><%= users[i].telefone %></td>
    <td><%= users[i].cep %></td>
    <td><%= users[i].logadouro %></td>
    <td><%= users[i].numero %></td>
    <td><%= users[i].bairro %></td>
    <td><%= users[i].cidade %></td>
    <td><%= users[i].estado %></td>

    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>